:root {
--navbar-height: 40px;
}

body { margin:0; padding:0; }

#map { position:absolute; top: var(--navbar-height); bottom:0%; width:100%; }

/* from 
https://stackoverflow.com/questions/35552708/is-materialize-navbar-height-adjustment-possible
(plus variable use)
*/
nav {
    height: var(--navbar-height);
    line-height: var(--navbar-height);
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: var(--navbar-height);
    line-height: var(--navbar-height);
}

nav .button-collapse i {
    height: var(--navbar-height);
    line-height: var(--navbar-height);
}

nav .brand-logo { 
    font-size: 1.2rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: var(--navbar-height);
        line-height: var(--navbar-height);
    }
}



/* for mouse-position info */
#position-info {
        font-size: 16px;
        position: absolute;
        right: 5px;
        top:95%;
        overflow: auto;
        background: rgba(255, 255, 255, 0.8);
}  

#info-card {
        visibility: hidden;
        font-size: 22px;
        padding: 0px;
        position: absolute;
        left: 0px;
        top:var(--navbar-height);
        overflow: auto;
        /* background: rgba(255, 255, 255, 1.0); */s
}

/* to fit all those conservation lands without scrolling dropdown on normal desktop */
.dropdown-content li {min-height:20px;}
.dropdown-content li > a {padding: 6px 16px;}

